body {
  font-family: "Open Sans", sans-serif; }

a:hover, a:focus {
  text-decoration: none;
  color: #f33c3c; }

.header-menu ul li a {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff; }
  .header-menu ul li a:hover, .header-menu ul li a:focus {
    color: #f33c3c; }

.product-item .p-info .p-title {
  margin-bottom: 5px; }
  .product-item .p-info .p-title a {
    color: #868686;
    font-size: 16px; }
    .product-item .p-info .p-title a:hover, .product-item .p-info .p-title a:focus {
      color: #f33c3c; }
.product-item .p-info .p-price {
  color: #000;
  font-size: 16px;
  font-weight: 700; }



header .search-field{
  width: 300px;
  max-width: 100%;
  border-radius: 30px;
  line-height: 46px;
  border: none;
  height: 46px;
  color: #868686;
  padding: 0 20px 0 50px;
  background: #f8f8f8;
  font-size: 14px;
  appearance: none;

}
.color__round-inner{
  width: 36px;
  height: 36px;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  display:block;
}
#footer{
  height:405px;
  background: #151515;
}
#footer-sub{
  border-top: 1px solid #868686;
}